@tailwind base;
@tailwind components;
@tailwind utilities;



/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


/* @media(max-width:500px) {
  main {
      flex-direction: column;
  }

  main .left {
      width: 100%;

  }

  main .right {
      width: 100%;
  }
} */